body{
    background-color: beige;
}
.carousel-inner img{
    height: 400px;
}

.category {
    background-color: lightgrey;
}
.navbar-brand{
    border-radius: 25px;
    border: 2px solid green;
    box-shadow: 2px 5px 10px blue;
}
.suggestions h2{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
